*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "a a"
    "b d"
    "c c"
    ;

}

img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

header{
    position: relative;
    grid-area: a;
    border: 2px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;	
}

main{
    grid-area: b;
    border: 2px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside{
    grid-area: d;
    border: 2px solid salmon;
}

footer{
    grid-area: c;
    border: 2px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabelka{
    border-collapse: collapse;
    border: 1px solid salmon;
}

th, tr{
    background-color: darkblue;
    color: white;
}

tr:hover{
    background-color: white;
    color: black;
    font-weight: bold; 
}

.cards{
    background: salmon;
    height: 60px;
    width: 120px;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 70%;
    margin: 7px;
}

.cards:hover{
    height: 100px;
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    background-color: darkblue;
}