*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    background-color: lightblue;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "c c"
    "a b"
    ;
}

.header{
    grid-area: c;
    border: 2px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    grid-area: a;
    border: 2px solid salmon;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
}

.aside{
    grid-area: b;
    border: 2px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

table{
    border-collapse: collapse;
    border: 1px solid salmon;
}

th, tr{
    background-color: darkblue;
    color: white;
}

tr:hover{
    background-color: white;
    color: black;
    font-weight: bold; 
}

input[type=text]{
    width: 100%;
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  
  input[type=submit] {
    width: 100%;
    background-color: salmon;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 5px 5px rgba(0,0,0,.15);
    transition: all .4s ease;
  }

  input[type=submit]:hover{
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 3px 3px rgba(0,0,0,.25);
  }

  .post{
    border-radius: 25px;
    margin: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 700px;
    background-color: salmon;
    position: relative;
    color: white;
    transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}


.content{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: auto;
    justify-content: center;
}

.post:hover{
    width: 800px;
    background-color: lightsalmon;
    color: black;
    padding-left: 0.5rem;
    border-left: 0.5rem solid #00ff99;
}

h1 { 
    color: salmon;
    font-family: 'Rouge Script', cursive;
    font-size: 53px; 
    font-weight: normal; 
    text-shadow: 1px 1px 2px lightsalmon; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

h1:hover {
  
  transform: translateY(-0.25em);
  box-shadow: 0px 3px lightsalmon;
}


p{
    text-align: center;
    margin-top: 15px;
}